@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-jost {
  font-family: "Jost", sans-serif;
}
.font-exo {
  font-family: "Exo", sans-serif;
}

:root {
  --primary-color: #c5c7c9; /* Màu chính */
  --secondary-color: #de8f41; /* Màu phụ */
  --font-size-base: 16px; /* Kích thước chữ cơ bản */

  /* Primary Colors */
  --color-primary-default: #ff782d;
  --color-primary-hover: #ffab2d;
  --color-primary-pressed: #f8620e;

  /* Absolute Colors */
  --color-absolute-black: #000000;
  --color-absolute-white: #ffffff;

  /* Neutral Colors */
  --color-neutral-dark-grey: #555555;
  --color-neutral-grey: #9d9d9d;
  --color-neutral-light-grey: #eaeaea;
  --color-neutral-white-grey: #f5f5f5;

  /* Status Colors */
  --color-status-info: #2580d5;
  --color-status-success: #55be24;
  --color-status-warning: #ffb100;
}

.h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-primary-default);
}

/* styles.css */
.navbar-button {
  background-color: transparent; /* Màu nền mặc định */
  color: black; /* Màu chữ */
  border: none; /* Không có viền */
  border-radius: 0;
  padding: 10px 15px; /* Khoảng cách bên trong */
  transition: background-color 0.1s ease, color 0.1s ease; /* Hiệu ứng chuyển màu */
  height: 64px;
  width: 100px;
  font-size: var(--font-size-base);
  font-weight: 500;
}

.navbar-button:hover {
  color: var(--color-primary-hover) !important; /* Màu chữ */
}

.navbar-button:active {
  background-color: var(--color-neutral-white-grey); /* Màu nền khi click */
  color: var(--color-primary-hover); /* Màu chữ */
}
.navbar-button.active {
  background-color: var(--color-neutral-white-grey); /* Màu nền khi click */
  color: var(--color-primary-pressed); /* Màu chữ */
}

.navbar-button.active:hover {
  background-color: var(
    --color-neutral-white-grey
  ) !important; /* Màu nền khi click */
}

.dropdown-menu-button {
  background-color: transparent; /* Màu nền mặc định */
  color: black; /* Màu chữ */
  border: none; /* Không có viền */
  padding: 10px 15px; /* Khoảng cách bên trong */
  border-radius: 0; /* Bo góc */
  transition: background-color 0.3s ease, color 0.3s ease; /* Hiệu ứng chuyển màu */
  height: 60px;
  width: 100px;
  font-size: var(--font-size-base);
  font-weight: 500;
}

.dropdown-menu-button:hover {
  background-color: gray; /* Màu nền khi hover */
}

.dropdown-menu-button:active {
  background-color: var(--secondary-color); /* Màu nền khi click */
  color: white; /* Màu chữ */
}
.dashboard {
  /* This ensures that the dashboard content takes full height */
  height: calc(
    100vh - 80px
  ); /* Adjust 80px if your navbar height is different */
  overflow: auto; /* Enables scrolling if content overflows */
}
